<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Form</h1>

<p>
<form th:action="@{'/form'}" th:object="${newMessage}" method="POST" action="#">
    <label for="newMessageText">Submit a new message</label>
    <input id="newMessageText" name="newMessageText" type="text" th:field="*{text}"/>
    <input type="submit">
</form>
</p>

<p>
    <h1 th:each="message: ${list}" th:text="${message}">MSG</h1>
</p>

</body>
</html>